
ManageDB/

LogiText/\.vs/

LogiText/LogiText/bin/

LogiText/LogiText/obj/

LogiText/POS/obj/

LogiText/Data/obj/

LogiText/POS/bin/

LogiText/Scraper/obj/

LogiText/Scraper/bin/

LogiText/ScraperUI/bin/

LogiText/ScraperUI/obj/

LogiText/Data/bin/
