<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AzureTestDB" connectionString="Server=tcp:logitextsql.database.windows.net,1433;Initial Catalog=TestDB;Persist Security Info=False;User ID=jortner;Password=Ortner-0210;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="MySql.Data.SqlClient"/>
    <add name="AwsTestDB" connectionString="user id=master;password=Ortner-0210;server=sqltest.ct7pcrou5asi.us-east-2.rds.amazonaws.com;database=MySqlTest" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>